Host streammanger1
  HostName {{ streammanger1_ip }}
  User {{ manager1_user }}

Host streamreturn1
  HostName {{ streamreturn1_ip }}
  User {{ linux_ansible_user }}

Host streamreturn2
  HostName {{ streamreturn2_ip }}
  User {{ linux_ansible_user }}

Host streamreturn3
  HostName {{ streamreturn3_ip }}
  User {{ linux_ansible_user }}

Host streamreturn4
  HostName {{ streamreturn4_ip }}
  User {{ linux_ansible_user }}