#!/bin/sh

echo "Open Stream Code Directory"
cd '{{ home_dir }}/code'

echo "Activate Virtual Environment"
source '{{ home_dir }}/code/.venv/bin/activate'

echo "Start Stream"
python3 streamreturn.py
